:root {
  --orange: #e45d40;
  --green: #54c48b;
  --bamba: #ff9aaa;
  --blue: #00adff;
  --black: #000;
}

h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Red Rose, sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 44px;
}

.section {
  background-color: #e96c4b;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 136px;
  display: flex;
  position: relative;
}

.body {
  background-color: #e45d4000;
  justify-content: center;
  align-items: center;
  display: block;
}

.div-block {
  z-index: 9999;
  filter: blur(120px);
  background-color: #ffac6c00;
  border-radius: 520px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: none;
  position: absolute;
  inset: 0%;
}

.lottie-animation {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.lottie-animation-2 {
  z-index: 9999;
  mix-blend-mode: normal;
  border-radius: 200%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
}

.lottie-animation-3 {
  width: 100%;
  height: 100%;
}

.slider {
  background-color: #ddd0;
  width: 100%;
  max-width: 940px;
  height: 120%;
  max-height: none;
  display: none;
}

.left-arrow {
  border: 1px solid #fff;
  border-radius: 200px;
  width: 3rem;
  height: 3rem;
  font-size: 1.3rem;
}

.right-arrow {
  z-index: 9999;
  border: 1px solid #fff;
  border-radius: 200px;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

.slide {
  width: 100%;
  height: 100%;
}

.code-embed {
  width: 100%;
  height: 100%;
  display: none;
}

.slider-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.slider-2 {
  background-color: #ddd0;
  width: 100%;
  height: 100%;
}

.code-embed-2 {
  width: 100%;
  height: 100%;
}

.slide-nav {
  inset: 110% 0% 0%;
}

.lottie-animation-4 {
  width: 100%;
  height: 100%;
}

.div-block-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.blur-eclipse {
  filter: blur(300px);
  background-color: #ffac6c;
  border-radius: 200px;
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: absolute;
  inset: 0%;
}

.icon, .icon-2 {
  font-size: 1.3rem;
}

.left-arrow-2, .right-arrow-2 {
  border: 1px solid #ffffff80;
  border-radius: 200px;
  width: 3rem;
  height: 3rem;
}

.div-block-3 {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0%;
}

.slide-2 {
  background-color: #b1b1b1;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.mask {
  width: 100%;
  position: absolute;
}

.slider-3 {
  width: 100%;
  height: 100%;
}

.icon-3, .icon-4 {
  font-size: 1.3rem;
}

.slide-3 {
  background-color: var(--orange);
}

.slide-4 {
  background-color: var(--green);
}

.slide-1 {
  background-color: var(--orange);
}

.slide-2-green {
  background-color: var(--green);
}

.slide-1-redish {
  background-color: var(--orange);
  width: 100%;
  height: 100%;
}

.slide-3-bamba {
  background-color: var(--bamba);
}

.slide-4-blue {
  background-color: var(--blue);
}

.eclipse, .orange-eclipse-blur {
  filter: blur(150px);
  background-color: #ffac6c;
  border-radius: 200px;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 20% 0% 0%;
}

.green-eclipse-blur {
  filter: blur(150px);
  background-color: #74ffb5;
  border-radius: 200px;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 20% 0% 0%;
}

.bamba-eclipse-blur {
  filter: blur(150px);
  background-color: #f0cad08f;
  border-radius: 200px;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 20% 0% 0%;
}

.blue-eclipse-blur {
  filter: blur(150px);
  background-color: #59e7ff;
  border-radius: 200px;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 20% 0% 0%;
}

.slide-nav-2 {
  opacity: .5;
}

.heading {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Red Rose, sans-serif;
  font-size: 10vw;
  font-weight: 700;
  display: flex;
  position: absolute;
  inset: 0%;
}

.lottie-animation-5 {
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.right-arrow-3 {
  border: 1px solid #ffffff80;
  border-radius: 200px;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.left-arrow-3 {
  border: 1px solid #ffffff80;
  border-radius: 200px;
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
}

.lottie-animation-6 {
  z-index: 9999;
  position: absolute;
}

.cocktails-slider {
  width: 100%;
  height: 100%;
}

.s-left-arrow {
  border: 1px solid #ffffff80;
  border-radius: 200px;
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
}

.s-right-arrow {
  border: 1px solid #ffffff80;
  border-radius: 200px;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.section-2 {
  height: 100vh;
  display: none;
}

.lottie-slide-1, .lottie-slide-2, .div-block-4, .lottie-slide-3, .lottie-slide-4 {
  width: 100%;
  height: 100%;
}

.cocktail-slide.orange {
  background-color: var(--orange);
}

.cocktail-slide.green {
  background-color: var(--green);
}

.cocktail-slide.bamba {
  background-color: var(--bamba);
}

.cocktail-slide.blue {
  background-color: var(--blue);
}

.code-hero {
  display: flex;
}

.code-hero.backup {
  width: 100%;
  height: 100%;
  display: flex;
}

.section-3 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 277px 0;
  display: flex;
  position: relative;
}

.lottie-animation-7 {
  border-radius: 0;
}

.div-block-5 {
  background-color: var(--bamba);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border-radius: 30px;
  width: 60%;
  height: auto;
  display: block;
  overflow: hidden;
}

.div-block-5._12 {
  display: none;
}

.lottie-animation-8 {
  background-color: var(--bamba);
  margin-bottom: -11px;
  margin-right: -3px;
  padding-right: 0;
  transform: scale(1.01);
}

.image {
  z-index: 1;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.wrap {
  z-index: 9999;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 940px;
  height: 100vh;
  padding: 90px;
  display: flex;
  position: absolute;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.poster-event {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 277px 0;
  display: flex;
  position: relative;
}

.section-4 {
  height: 100vh;
}

.beanding-hero, .branding-hero {
  height: 100vh;
  display: flex;
}

.section-5 {
  height: 50vh;
}

.project-info {
  background-color: #333;
  flex-flow: row;
  max-width: none;
  height: 50vh;
  margin-left: auto;
  margin-right: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.background-video {
  width: 100%;
  height: 100%;
  transform: scale(1.05);
}

.vid-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.code-embed-3 {
  width: 100%;
  height: 100%;
  transform: scale(1.01);
}

.vimeo_wrap {
  width: 100%;
  height: 100%;
}

.proj-info-wrap-l {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.heading-2 {
  font-size: 2.5rem;
}

.heading-3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: Recursive, sans-serif;
  font-size: 2rem;
}

.heading-4 {
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Red Rose, sans-serif;
  font-size: 2rem;
  display: flex;
}

.heading-wrap {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: .75rem;
  display: flex;
}

.div-block-6 {
  width: 50%;
}

.proj-info-wrap-r {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.grid {
  grid-template-rows: auto;
}

.l-grid {
  color: #fff;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.r-grid {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.heading-5 {
  margin-top: 0;
  font-family: Red Rose, sans-serif;
  font-size: 1rem;
  line-height: 20px;
}

.text-block {
  opacity: .5;
  color: #fff;
  border: 1px solid #ffffff78;
  border-radius: 200px;
  margin-bottom: .7rem;
  padding-left: .7rem;
  padding-right: .7rem;
  font-family: Recursive, sans-serif;
  font-size: .6rem;
  line-height: 1rem;
  display: block;
}

.head-ser {
  font-size: 1rem;
  line-height: 0;
}

.n-heading {
  margin-top: 0;
  font-family: Red Rose, sans-serif;
  font-size: 2rem;
  line-height: 20px;
}

.ser-headingf {
  color: #fff;
  margin-top: 0;
  font-family: Red Rose, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 22px;
}

.paragraph {
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  width: 50ch;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Recursive, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6rem;
  display: flex;
}

.button {
  color: #000;
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.body-2 {
  overflow: hidden;
}

.sep-1 {
  background-color: #404040;
  justify-content: center;
  align-items: center;
  height: 25vh;
  display: none;
}

.section-6, .example {
  height: 100vh;
}

.lottie-animation-9 {
  padding: 341px;
}

.lottie-animation-10 {
  padding: 331px;
}

.about-us {
  background-color: #353535;
  background-image: none;
  background-size: auto;
  height: 100vh;
  padding-bottom: 5rem;
  display: none;
}

.section-7 {
  width: 100%;
  height: 100vh;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: none;
}

.code-embed-4 {
  filter: saturate(200%);
  width: 100%;
  height: auto;
}

.about-wrap {
  flex-flow: row;
  width: 100%;
  max-width: 940px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.right {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding-bottom: 1rem;
  padding-left: 1.1rem;
  display: flex;
  position: relative;
}

.left {
  width: 50%;
  padding-left: 0;
  display: flex;
}

.heading-6 {
  color: #fff;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-size: 4.5rem;
  line-height: 57px;
  display: block;
}

.text-span {
  color: #fff;
}

.paragraph-2 {
  color: #ffffffa8;
  width: 47ch;
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: Recursive, sans-serif;
  font-size: .9rem;
  line-height: 1.7rem;
}

.code-embed-5 {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.video-wrap {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
}

.text-span-2 {
  color: #54c48b00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.section-8 {
  background-color: #333;
  height: 100vh;
}

.button-2 {
  background-color: var(--orange);
  background-image: radial-gradient(circle, #ffac6cb0, #e45d40);
  border-radius: 200rem;
  padding: .8rem 1.5rem;
  font-family: Recursive, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.lottie-animation-11 {
  justify-content: flex-start;
  align-items: center;
  display: none;
  position: absolute;
  inset: 0% auto 10% -17%;
}

.text-span-3 {
  color: #54c48b00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border: 1px #fff;
  text-decoration: none;
}

.text-block-2 {
  color: var(--bamba);
  text-transform: uppercase;
  margin-bottom: .5rem;
  font-family: Recursive, sans-serif;
  font-weight: 500;
}

.menu-section {
  background-color: #333;
  height: 100vh;
}

.locate-us {
  background-color: #333;
  flex-flow: column;
  height: 100vh;
  padding-top: 3rem;
  padding-bottom: 0;
  display: none;
}

.menu-heading-div {
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  display: flex;
  position: absolute;
}

.menu-heading-main {
  text-align: center;
  text-transform: uppercase;
  width: auto;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 3rem;
  display: block;
}

.menu-paragraph {
  color: #ffffff80;
  text-align: center;
  width: 60ch;
  margin-bottom: 1.3rem;
  padding-top: 0;
  padding-bottom: .5rem;
  font-family: Recursive, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-span-4 {
  color: #0000;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  font-weight: 800;
}

.button-3 {
  text-align: center;
  background-image: linear-gradient(91deg, #f4377b, #ba30fb);
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  width: 12rem;
  padding: 1rem 1.7rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
}

.button-3:hover {
  transform: scale(1.03);
}

.button-3.sk {
  padding-left: .8rem;
  padding-right: .8rem;
}

.video-shade {
  background-color: #0009;
  background-image: linear-gradient(#000000e8, #fff0 66%);
  width: 100%;
  height: 100%;
  position: absolute;
}

.text-block-3 {
  color: var(--bamba);
  text-transform: uppercase;
  margin-bottom: .5rem;
  font-family: Recursive, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.menu-section-wrapper {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  display: flex;
  position: relative;
}

.menu-button0-div {
  justify-content: center;
  display: flex;
}

.menu-section-2 {
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: none;
}

.background-video-3 {
  background-color: #0000;
  background-image: url('../images/Slide-3-Blur-Bubble.webp');
  background-size: cover;
  width: 100%;
  height: 60vh;
  display: block;
}

.image-2 {
  filter: invert();
  width: .5rem;
  margin-left: 2px;
  padding-left: .1rem;
  display: block;
}

.text-block-4 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: var(--orange);
  -webkit-text-stroke-color: #000;
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin-right: .3rem;
  font-family: Recursive, sans-serif;
  font-size: .9rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.div-block-7 {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.services-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 1.25rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.services-wrapper._1 {
  margin-top: 0;
  margin-bottom: 0;
}

.services-wrapper._2 {
  align-items: flex-start;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.link-block {
  flex-direction: row;
  text-decoration: none;
  display: flex;
}

.text-block-5 {
  color: #ffffff80;
  width: 38ch;
  padding-top: 0;
  padding-bottom: .5rem;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: .8rem;
}

.text-block-5.services {
  color: var(--black);
  width: 35ch;
  margin-bottom: 0;
  font-family: Recursive, sans-serif;
  font-size: .9rem;
}

.image-3 {
  width: 4rem;
  margin-bottom: 1rem;
}

.image-3._2 {
  width: 4rem;
}

.service0-heading {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
}

.services-card {
  opacity: .83;
  background-color: #f7f7f700;
  background-image: linear-gradient(#fff, #ffffff8f), linear-gradient(146deg, #fff, #ffffffa1);
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  border: .5px solid #fff;
  border-radius: 20px;
  flex-direction: column;
  width: 70%;
  height: 40%;
  padding: 2rem;
  display: flex;
  box-shadow: 0 2px 20px 7px #0000001a;
}

.services-card:hover {
  border: 2px solid var(--bamba);
  border-radius: 20px;
  box-shadow: 0 2px 20px 7px #0000001a;
}

.services-card._3 {
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  background-image: linear-gradient(#fff, #ffffff8f), linear-gradient(146deg, #fff, #ffffffa1 0%);
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  height: 130%;
}

.services-card._2 {
  transform-style: preserve-3d;
  background-image: linear-gradient(#fff, #ffffff8f 0%), linear-gradient(146deg, #fff, #ffffffa1);
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  height: 80%;
  margin-bottom: 1rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  box-shadow: 0 2px 20px 7px #0000001a;
}

.services-card._2:hover {
  box-shadow: none;
  transform: scale3d(1none, 1none, 1none);
}

.services-card._1 {
  transform-style: preserve-3d;
  background-image: linear-gradient(#fff, #ffffff8f), linear-gradient(146deg, #fff, #ffffffb0);
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  justify-content: space-between;
  align-items: flex-start;
  height: 70%;
}

.services-card._1:hover {
  transform: scale3d(1none, 1none, 1none);
}

.services-card._4 {
  transform-style: preserve-3d;
  background-image: linear-gradient(#fff, #ffffff8f), linear-gradient(146deg, #fff0, #ffffffa1);
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  height: 120%;
}

.services-card._4:hover {
  transform: scale3d(1none, 1none, 1none);
}

.activities-div {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  background-color: #0000;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 2rem 0;
  display: flex;
  position: relative;
}

.activities-sec {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  background-color: #454545;
  background-image: linear-gradient(#353535 50%, #e56041), url('../images/Slide-4-Blur-Bubble.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 2rem 0 0;
  display: none;
}

.div-block-8 {
  width: 100%;
  height: auto;
}

.service-heading {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  padding-left: 2.9rem;
  padding-right: 2.9rem;
  display: flex;
}

.heading-text-div {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 0;
  display: flex;
}

.text-block-6 {
  color: var(--bamba);
  text-transform: uppercase;
  margin-bottom: .5rem;
  font-family: Recursive, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.service-heading-div {
  text-transform: uppercase;
  width: 15ch;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 3rem;
}

.text-span-5 {
  color: #0000;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  font-weight: 800;
}

.button-div {
  width: auto;
  height: auto;
}

.text-span-6 {
  margin-bottom: 5px;
}

.text-span-7 {
  margin-bottom: 6px;
}

.map-wrap {
  filter: grayscale();
  background-color: #000;
  background-image: linear-gradient(#0006, #0006), url('../images/groof-nivy.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  border-radius: 0;
  width: 100%;
  max-width: none;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.map-wrap:hover {
  filter: grayscale(63%);
}

.map-heading {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.link-block-2 {
  width: 100%;
}

.footer-dark {
  background-color: #000;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  display: none;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-brand {
  color: #000;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: Red Rose, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #b0b0b0;
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: Recursive, sans-serif;
  font-size: .8rem;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff8c;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  border: 1px solid #ffffff4d;
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  width: 1.9rem;
  height: 1.9rem;
  margin-left: 12px;
  padding: .3rem;
  text-decoration: none;
  display: flex;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  color: #737373;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.heading-7 {
  color: #000;
}

.lottie-animation-12 {
  width: 60%;
  display: none;
}

.image-4 {
  opacity: .55;
  filter: invert();
}

.image-5, .image-6 {
  opacity: .75;
  filter: invert();
}

.footer-link-2 {
  color: #6b6b6b;
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.footer-link-2:hover {
  color: #fff;
}

.code-embed-6 {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.navbar {
  display: none;
}

.nav-link, .nav-link-2 {
  color: #fff;
  font-family: Recursive, sans-serif;
  font-size: .9rem;
}

.nav-link-3 {
  font-family: Recursive, sans-serif;
  font-size: .9rem;
}

.nav-link-3.button-2.reserve {
  color: #fff;
}

.navbar-2 {
  z-index: 9999;
  background-color: #ddd0;
  padding-top: 1.5rem;
  display: none;
  position: absolute;
  inset: 0% 0% auto;
}

.button-2-copy {
  background-color: var(--orange);
  background-image: radial-gradient(circle, #ffac6cb0, #e45d40);
  border-radius: .4rem;
  padding: .8rem 1.5rem;
  font-family: Recursive, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.playlist-section {
  background-color: #333;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: none;
}

.code-embed-7 {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.heading-8 {
  text-transform: uppercase;
  max-width: 940px;
  margin: 0 auto 2rem;
}

.exp-sec {
  background-color: #2d2d2d;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: none;
}

.exp-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 940px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  display: flex;
}

.heading-10 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

.services-wrapper-1 {
  z-index: 9999;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  place-items: flex-start start;
  width: 50%;
  height: 70vh;
  margin-top: 30px;
  margin-bottom: 1.25rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
}

.services-wrapper-1._1 {
  margin-top: 0;
  margin-bottom: 0;
}

.services-wrapper-1._2 {
  align-items: flex-start;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.services-wrapper-2 {
  z-index: 9999;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: flex-end end;
  width: 50%;
  height: 70vh;
  margin-top: 30px;
  margin-bottom: 1.25rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
}

.services-wrapper-2._1 {
  margin-top: 0;
  margin-bottom: 0;
}

.services-wrapper-2._2 {
  align-items: flex-start;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.slider-wrap-embed {
  width: 100%;
  height: 100%;
}

.spline-div {
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-clip: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.spline-shade {
  z-index: 9999;
  background-color: #0000;
  background-image: linear-gradient(#353535, #93646ccc 49%, #ffffff94);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.spline-scene {
  width: 100%;
  height: 100%;
  position: static;
}

.suspenstion-div {
  opacity: 1;
  background-color: #000000e0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: absolute;
  inset: 0%;
}

.image-24 {
  width: 3rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.div-block-12 {
  color: #fff;
  text-align: center;
  height: auto;
  font-size: 1.5rem;
  line-height: 2rem;
}

.lottie-sorry {
  margin-top: .5rem;
  margin-bottom: 1.8rem;
}

.lottie-animation-13 {
  width: 7rem;
}

.suspention-wrap {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  display: flex;
}

@media screen and (min-width: 1920px) {
  .proj-info-wrap-l {
    justify-content: center;
    align-items: flex-start;
  }

  .heading-4 {
    font-size: 2.5rem;
  }

  .proj-info-wrap-r {
    justify-content: center;
    align-items: flex-start;
  }

  .paragraph {
    font-size: 2.5rem;
  }

  .image-24 {
    width: 5.5rem;
  }

  .div-block-12 {
    color: #fff;
    font-size: 2.3rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 991px) {
  .menu-heading-main {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }

  .text-span-4 {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }

  .menu-section-2 {
    padding-top: 0;
  }

  .services-card {
    width: 100%;
  }

  .service-heading {
    justify-content: space-between;
    align-items: center;
  }

  .heading-text-div {
    padding-left: 0;
  }

  .service-heading-div {
    padding-right: 26px;
    font-size: 2.5rem;
  }

  .text-span-5 {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }

  .map-heading {
    justify-content: space-between;
    align-items: center;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .div-block-12 {
    line-height: 2.4rem;
  }
}

@media screen and (max-width: 767px) {
  .text-block-5 {
    font-size: .5rem;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .footer-link-2:hover {
    color: #1a1b1fbf;
  }

  .div-block-12 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .body {
    background-color: #5b5b5b;
  }

  .code-hero.backup {
    display: none;
  }

  .section-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-5 {
    border-radius: 1rem;
    width: 100%;
  }

  .div-block-5._12 {
    display: none;
  }

  .lottie-animation-8 {
    padding-right: 3px;
    transform: scale(1.01);
  }

  .wrap {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .poster-event {
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .branding-hero {
    height: 20vh;
  }

  .project-info {
    flex-flow: column;
    height: auto;
    padding-top: 1rem;
  }

  .code-embed-3 {
    height: auto;
  }

  .proj-info-wrap-l {
    padding-right: 0;
  }

  .heading-3 {
    font-size: 1.8rem;
  }

  .heading-4 {
    font-size: 1.5rem;
  }

  .grid {
    flex-flow: column;
    display: flex;
  }

  .n-heading {
    font-size: 1.5rem;
  }

  .paragraph {
    width: auto;
    font-size: 1.5rem;
  }

  .sep-1 {
    height: 10vh;
  }

  .about-us {
    flex-flow: column;
    height: auto;
    padding: 3rem 1rem 2rem;
    display: none;
  }

  .about-wrap {
    flex-flow: column;
    max-width: none;
  }

  .right {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    padding-bottom: 0;
    padding-left: 0;
  }

  .left {
    width: 100%;
  }

  .heading-6 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2rem;
  }

  .paragraph-2 {
    color: #fff;
    text-align: center;
    width: auto;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: .9rem;
    line-height: 1.5rem;
  }

  .code-embed-5 {
    height: 100%;
  }

  .video-wrap {
    padding-top: 1rem;
  }

  .text-span-2 {
    color: #54c48b00;
    -webkit-text-stroke-width: .8px;
    -webkit-text-stroke-color: #fff;
  }

  .button-2 {
    background-color: #e45d40;
    padding: .8rem 1rem;
  }

  .lottie-animation-11 {
    justify-content: center;
    align-items: flex-end;
    position: static;
  }

  .menu-heading-div {
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu-heading-main {
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.9rem;
  }

  .menu-paragraph {
    width: auto;
  }

  .text-span-4 {
    -webkit-text-stroke-width: 1.1px;
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .button-3 {
    width: 10rem;
  }

  .button-3.sk {
    width: 100%;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-size: 1rem;
  }

  .video-shade {
    opacity: .84;
  }

  .text-block-3 {
    color: var(--bamba);
    font-size: .8rem;
  }

  .menu-section-2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }

  .background-video-3 {
    background-image: none;
    background-size: auto;
    height: 40vh;
  }

  .image-2 {
    width: .4rem;
    margin-left: .1rem;
    padding-left: 0;
  }

  .div-block-7 {
    flex-direction: column;
  }

  .services-wrapper._1, .services-wrapper._2 {
    width: 100%;
  }

  .text-block-5 {
    text-transform: uppercase;
    font-size: .7rem;
  }

  .text-block-5.services {
    color: #000;
    width: auto;
    font-size: .8rem;
  }

  .service0-heading {
    color: #000;
    margin-bottom: .5rem;
    line-height: 1.8rem;
  }

  .services-card {
    background-color: #222;
    background-image: linear-gradient(#fff, #ffffff30), linear-gradient(146deg, #fff, #ffffffa1);
    background-position: 0 0, 0 0;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    background-attachment: scroll, scroll;
    width: 100%;
  }

  .services-card:hover {
    border-style: none;
  }

  .activities-div {
    flex-direction: column;
  }

  .activities-sec {
    background-color: var(--orange);
    background-image: linear-gradient(#353535, #ff9aaa 80%);
    background-position: 0 0;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .service-heading {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .heading-text-div {
    align-items: center;
    padding-left: 0;
  }

  .text-block-6 {
    font-size: .8rem;
  }

  .service-heading-div {
    text-align: center;
    align-self: center;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .text-span-5 {
    -webkit-text-stroke-width: 1.1px;
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .map-heading {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .container-2 {
    max-width: none;
  }

  .footer-link-2 {
    color: #6d6d6d;
    text-align: left;
    width: auto;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .footer-link-2:hover, .footer-link-2:active {
    color: #fff;
  }

  .navbar {
    display: flex;
    position: relative;
  }

  .nav-link {
    border-bottom: 1.1px solid #6a6a6a;
  }

  .nav-link-2 {
    border-bottom: 1.1px solid #6a6a6a;
    margin-bottom: 1rem;
  }

  .nav-link-3.button-2.reserve {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 0;
    display: flex;
  }

  .navbar-2 {
    background-color: #000;
    inset: 0% 0% auto;
  }

  .playlist-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading-8 {
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.9rem;
  }

  .icon-5 {
    color: #fff;
    display: flex;
  }

  .container-3 {
    padding-left: 1rem;
  }

  .heading-9 {
    margin-top: 2px;
    margin-bottom: 0;
  }

  .menu-button {
    display: flex;
  }

  .menu-button.w--open {
    background-color: #c8c8c800;
  }

  .services-wrapper-1 {
    width: 100%;
    height: auto;
    margin-top: -.2rem;
  }

  .services-wrapper-1._1, .services-wrapper-1._2, .services-wrapper-2, .services-wrapper-2._1, .services-wrapper-2._2 {
    width: 100%;
  }

  .spline-div, .spline-shade {
    display: none;
  }

  .container-4 {
    height: 5rem;
  }

  .brand {
    display: flex;
  }

  .nav-menu {
    background-color: var(--black);
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .image-24 {
    width: 3.6rem;
  }

  .div-block-12 {
    color: #ffffffe0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lottie-animation-13 {
    width: 6rem;
  }
}

#w-node-b42a610e-fb79-88e7-1d7c-fb18aa264070-e90fcf7f, #w-node-b42a610e-fb79-88e7-1d7c-fb18aa264084-e90fcf7f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


